<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Try to insert some script</p>
  <h3>Comment</h3>
  <form action="/comment" method="post">
    <textarea id="comment" name="fcomment" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
  <br>
  <hr>
  <ul>
    <% for(var i=0; i < comments.length; i++) { %>
      <li>
        <!-- HTML unescaped dangerous!-->
        <%- comments[i] %>

        <!-- HTML escaped -->
        <!-- <%= comments[i] %> -->
      </li>
      <% } %>
  </ul>

</body>

</html>