<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Try to insert some script</p>
  <h3>Comment</h3>
  <form action="/comment" method="post">
    <textarea id="comment" name="fcomment" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
  <h3>Comment (Sanitized)</h3>
  <form action="/comment-sanitized" method="post">
    <textarea id="comment" name="fcomment" rows="4" cols="50"></textarea>
    <br>
    <button type="submit">Send</button>
  </form>
  <br>
  <hr>
  <ul>
    <% for(var i=0; i < comments.length; i++) { %>
      <li>
        <!-- HTML unescaped dangerous!-->
        <%- comments[i] %>

          <!-- HTML escaped -->
          <!-- <%= comments[i] %> -->
      </li>
      <% } %>
  </ul>

  <br>
  <br>
  <hr>
  <p style="color: red">This red paragraph is blocked by policy. </p>
</body>
</html>

<!-- Try to insert these malicous script/css:- -->
<!-- 

<script>alert("Hacked!")</script> 
<style>h1:after {content: "You got hacked";}</style>

-->